@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: normal;
    font-style: normal;
}

/* shared styles */
.btn-primary{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}
.btn-primary:hover{
    background-color: darkslategray;
}
.btn-secondary{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn-secondary:hover{
    background-color: darkslategray;
}

/* body styles */

body{
    margin: 0 160px;
    background-color: #F1F1F3;
}

/* header styles */
.header{
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 50px;
    /* margin: 120px 160px; */
    /* max-width: 1280px; */
    /* max-height: 560px; */
}
img{
    padding: 80px 60px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    padding: 117px 60px;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;

}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
}
/* goal section styles */
.bg-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.bg-2{
    background-color: #C6E4D6;
}
.bg-3{
    background-color: #F7EBCF;
}
.bg-4{
    background-color: white;
}

.goal-heading{
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;

}
.goal-subheading{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.goal-container{
    display: flex;
    gap: 24px;
    max-height: 325px;
}
.goal-box{
    border-radius: 16px;
    padding: 32px;
    width: 33%;
    max-height: 325px;

}
.goal-title{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.goal-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.img{
    padding: 0 314px 24px 0;
}

/* button styles */
.b-1-color{
    background-color: #5490F5 ;
}
.b-2-color{
    background-color: #09A15C;
}
.b-3-color{
    background-color: #FFC239;
}

/* news section styles */
.news-heading{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 80px;
    margin-bottom: 24px;
}
.news-subheading{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.news-container{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    max-height: 400px;
    padding: 48px;
}
.first-news{
    padding: 0 0 0 32px;
    margin-bottom: 24px;
    max-height: 400px;
}
.second-news{
    padding: 0 48px 0 0;
    max-height: 400px;
}
.news-container img{
    border-radius: 24px;
}

.news-title{
    margin-bottom: 12px;
}
.date-time{
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.news-btn{
    padding: 13px 26px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.news-btn:hover{
    background-color: darkslategray;
}
figure .rad{
    border-radius: 24px;
    padding: 0;
    width: 400px;
    height: 300px;
}
.jazeera{
    padding: 0 610px 12px 0;
}
.news-div{
    margin-bottom: 24px;
}

/* donate section styles */
.donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
    margin-bottom: 24px;
}
.donate-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);

}
.donate-container{
    text-align: center;
    margin-bottom: 80px;
}
.taka{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 32px 104px 32px 104px;
}
.taka-box{
    padding: 40px;
    border-radius: 16px;
    width: 240px;
    height: 128px; 

}
.taka-box:hover{
    background-color: darkslategray;
}
.amount{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
input[type="text"]{
    width: 75%;
    margin: 32px 124px 32px 124px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    font-size: 30px;
    color:rgba(14, 14, 14, 0.3);
}

.donate-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.donate-btn:hover{
    background-color: darkslategray;
}
/* subscribe section styles */
.sub-container{
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    max-height: 395px;
    margin-bottom: 80px;
}
.sub-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 0px 329px 16px 329px;
}
.sub-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.sub-form{
    display: flex;
    justify-content: center;
}
.sub-form input{
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 16px;
    border-style: none;
    text-align: left;
    padding: 5px 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sub-con{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.sub-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius:16px ;
    border: none;
    transition: 0.5s ease;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.sub-btn:hover{
    background-color: darkslategray
}
/* yunus section styles */
.yunus-container{
    background-image: url('../assets/quote-bg.png');
    background-position: 24px 24px;
    background-repeat: no-repeat;
    padding: 48px 24px;
    margin-top: 80px;
    border-radius: 16px;
    background-color: white;
}
.speech{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}
.desig{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}
